<!DOCTYPE html>
<html>

<head>
    <title>Abolish the NYPD</title>
    <meta name="description" content="Abolish the NYPD" />
    <link id="favicon" rel="icon"
        href="https://cdn.glitch.com/daaac5d2-50fd-4844-9957-d960b12fb5b6%2Ffavicon.ico?v=1592072250727"
        type="image/x-icon" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/style.css" />
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700" rel="stylesheet"
        type="text/css" />
</head>

<body>
    <div class="header">
        <a href="/" class="logo">Abolish the NYPD</a>
        <div class="header-right">
            <a href="/">🏡 Home</a>
            <a class="active" href="/contact-reps">📣 Call Your Rep</a>
            <a href="/peoples-budget">💰 People's Budget</a>
            <a href="/spread-the-word">🗣 Spread the Word</a>
            <a href="/resources">📚 Learn More</a>
        </div>
    </div>
    <div class="homepage">
        <div class="container">
            <div class="callout">
                <h2>
                    Take action today
                </h2>
                <p>
                    Send an email to the NYC Council Members today, calling for them to defund the NYPD.
                </p>
            </div>
            <div class="form">
                <div class="input-container">
                    <label class="label" for="name">Name</label>
                    <input class="input" id="name" />
                    <label class="label" for="neighborhood">Neighborhood / Borough</label>
                    <input class="input" id="neighborhood" />
                    <button class="generate" onclick="generateEmail()">
                        Generate Email
                    </button>
                </div>
                <div id="preview"></div>
            </div>
        </div>
    </div>
    <footer></footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
        integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=" crossorigin="anonymous"></script>
    <script src="/client.js"></script>
</body>

</html>