<!DOCTYPE html>
<html>
  <head>
    <title>People's Budget of NYC</title>
    <meta
      name="description"
      content="People's Budget of NYC: #DefundNYPD edition"
    />
    <link
      id="favicon"
      rel="icon"
      href="https://cdn.glitch.com/daaac5d2-50fd-4844-9957-d960b12fb5b6%2Ffavicon.ico?v=1592072250727"
      type="image/x-icon"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="homepage">
      <header>
        <a href="/" style="text-decoration: none">
          <h1>
            People's Budget of NYC
          </h1>
        </a>
        <h2>
          Defund the NYPD Edition
        </h2>
        ⚡️ Powered by the people ⚡️
      </header>

      <div class="container">
        <div class="callout highlight">
          <h2>
            Your budget's way too high — you need to cut it!
          </h2>
          <p>
            See and share suggestions for programs, divisions, contracts, and
            other parts of the NYPD we should cut.
          </p>
        </div>
        <div id="cutit-container">
          <!-- TODO(vicki): replace this with a custom display -->
          <iframe
            class="airtable-embed"
            src="https://airtable.com/embed/shrQSGjN2CrjE3MOr?backgroundColor=purple"
            frameborder="0"
            onmousewheel=""
            width="100%"
            height="533"
            style="background: transparent; border: 1px solid #ccc;"
          ></iframe>
        </div>
        <div id="cutit-form">
          <script src="https://static.airtable.com/js/embed/embed_snippet_v1.js"></script
          ><iframe
            class="airtable-embed airtable-dynamic-height"
            src="https://airtable.com/embed/shrNhlxrqvXcCvJ4o?backgroundColor=purple"
            frameborder="0"
            onmousewheel=""
            width="100%"
            height="1085"
            style="background: transparent; border: 1px solid #ccc;"
          ></iframe>
        </div>
      </div>
    </div>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script
      src="https://code.jquery.com/jquery-2.2.1.min.js"
      integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
      crossorigin="anonymous"
    ></script>
    <script src="/client.js"></script>
  </body>
</html>
