<!DOCTYPE html>
<html>
  <head>
    <title>People's Budget of NYC</title>
    <meta
      name="description"
      content="People's Budget of NYC: #DefundNYPD edition"
    />
    <link
      id="favicon"
      rel="icon"
      href="https://cdn.glitch.com/daaac5d2-50fd-4844-9957-d960b12fb5b6%2Ffavicon.ico?v=1592072250727"
      type="image/x-icon"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="homepage">
      <header>
        <a href="/" style="text-decoration: none">
          <h1>
            People's Budget of NYC
          </h1>
        </a>
        <h2>
          Defund the NYPD Edition
        </h2>
        ⚡️ Powered by the people ⚡️
      </header>

      <div class="container">
        <div class="callout highlight">
          <h2>
            What is the people's budget?
          </h2>
          <p>
            We're responding to the call to action to defund the NYPD by
            <strong>at LEAST a billion dollars</strong> this year.
            <br />
            While it's a good first step that the New York City Council released
            a joint statement saying that they plan to make these cuts, we know
            our work to #DefundNYPD is just getting started.
          </p>
          <p>
            We need to keep the pressure up to make sure that they follow
            through on this committment and cut at least a billion dollars from
            the NYPD this year.
            <br />
            We also need to make sure that these cuts are meaningful cuts that
            actually reduce policing, and that the dollars are reinvested in our
            community needs."
          </p>
          <h3>
            So we're starting a People's Budget to DEFUND the NYPD, and FUND our
            COMMUNITIES.
          </h3>
          <p>
            We're not waiting on "experts" and government officials to suggest
            how we should cut the NYPD and where we should spend that money —
            we're asking you to suggest it.
            <br />
            This is an open-source budget, we want you to share your ideas on
            what to cut and how to invest!
          </p>
        </div>
        <div class="callout">
          <h2>
            How do I participate?
          </h2>
          <p>
            There are three different aspects on the People's Budget: Defund the
            NYPD Edition. Plug in to any or all of them! Whatever interests you.
            <br />
            Keep in mind, this is open source, so we want data and
            justifications, but we reject the idea of "expertise." The people
            know best what we need!
          </p>
        </div>
        <div class="card-cta-container">
          <a href="/cutit">
            <div class="card-cta">
              <h3>✂️ Cut It ✂️</h3>
              View and suggest cuts to the NYPD budget — how can we most
              effectively defund the NYPD?
            </div>
          </a>
          <a href="/reinvest">
            <div class="card-cta">
              <h3>💰 Reinvest It 💰</h3>
              How should we invest at least a billion dollars in our
              communities?
            </div>
          </a>
          <a href="/swap">
            <div class="card-cta">
              <h3>👀 Swap It Out 👀</h3>
              Suggest some ways we can defund the NYPD and fund communities
              instead for social media shares!
            </div>
          </a>
        </div>
        <div class="callout">
          <h2>
            What else can I do to make sure we #DefundNYPD?
          </h2>
          <p>
            In addition to contributing to the People's Budget, we need to make
            sure that are voices are heard at City Council!
            <br />
            To take action today
            <ul>
              <li>See your councilmember's stance on defunding the NYPD</li>
              <li>Easily email all NYC city council members</li>
              <li>Call your city council member</li>
          </ul>
          </p>
        </div>
      </div>
    </div>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script
      src="https://code.jquery.com/jquery-2.2.1.min.js"
      integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
      crossorigin="anonymous"
    ></script>
    <script src="/client.js"></script>
  </body>
</html>
