<!DOCTYPE html>
<html>

<head>
  <title>Abolish the NYPD</title>
  <meta name="description" content="Abolish the NYPD" />
  <link id="favicon" rel="icon"
    href="https://cdn.glitch.com/daaac5d2-50fd-4844-9957-d960b12fb5b6%2Ffavicon.ico?v=1592072250727"
    type="image/x-icon" />
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/style.css" />
  <link
    href="https://fonts.googleapis.com/css2?family=Arapey:ital,wght@0,400;0,600;0,800;1,400;1,600;1,800&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,400;1,600&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="header">
    <a href="/" class="logo"><img src="assets/fist.png"></a>
    <div class="header-right">
      <a class="active" href="/">Home</a>
      <a href="/contact-reps">Contact Your Rep</a>
      <a href="/peoples-budget">People's Budget</a>
      <a href="/spread-the-word">Spread the Word</a>
      <a href="/resources">Learn More</a>
    </div>
  </div>
  <div class="homepage">
    <header>
      <div class="abolish-heading">
        <a href="/" style="text-decoration: none">
          <img src="assets/fist.png" style="width:500;" />
          <h1>
            ABOLISH THE NYPD
          </h1>
        </a>
      </div>
      <p style="font-size:20px">
        A compilation of resources, information, and actions on defunding (and abolishing) the NYPD.
      </p>
    </header>

    <div class="container">
      <div class="callout">
        <h2>
          WHY DEFUND THE NYPD?
        </h2>
        <p>
          We know our communities are safe and can thrive when we have housing, healthcare, living wages, high quality
          education, and public transit, and the resources and community-based services we need. That’s what New York
          City should be spending its money on — NOT the NYPD.
        </p>
        <p>
          When we say we want to defund the NYPD, we don’t want their funding to disappear into thin air — we demand
          that it is re-invested into our communities.
        </p>
      </div>
      <div class="callout highlight">
        <h2>
          HOW DOES DEFUNDING GET US TO ABOLITION? WHY SHOULD WE ABOLISH THE NYPD?
        </h2>
        <blockquote>
          <p class="quote">
            As an abolitionist organizer working to end policing, incarceration and surveillance, and to create lasting
            alternatives, I know that “defund the police” is not just a slogan- or even the end goal. It is a strategic
            demand that gets us even closer to our mission of abolishing police and prisons. Yes, “defund the police” is
            a
            rallying cry, reminding us that we are deserving of a world without cops. But it is also a concrete step
            towards abolition. It is up to us to fight for that world every chance we get.
          </p>
          <p class="quote-source">
            — K Agbebiyi, <a href="https://twitter.com/sheabutterfemme">@sheabutterfemme</a>
          </p>
        </blockquote>
      </div>
      <div class="callout">
        <h2>
          WHERE DO THINGS STAND IN NYC?
        </h2>
        <p>
          Ending police violence starts with significant and effective cuts to the NYPD's budget. Over the last few
          weeks, thousands of New Yorkers have shown up in the streets, called and emailed their Council Members and
          demanded that we defund the NYPD and invest in communities — by AT LEAST $1 billion this year. Years of
          organizing by activists and advocates have gotten us to this critical moment.

        </p>
        <p>
          With mere days until the June 30th deadline for a final budget, <a
            href="https://council.nyc.gov/press/2020/06/12/1983/" target="_blank">the City Council announced</a> that
          they “can and
          should work to get $1 billion in cuts” to the NYPD this year. While this is a win, and a step in the right
          direction, we are nowhere near done with this fight yet. In fact, it is time to fight harder for deeper,
          meaningful, and more transparent cuts- and to ensure that money gets invested back in New York’s communities.
        </p>
        <p>
          We need to be clear on what we’re asking for, and hold our electeds accountable for it. And we need to ask
          them to vote no on a budget that doesn’t deliver what the people demand.

        </p>

      </div>
      <div class="callout">
        <h2>
          WHAT DO DEEPER, MEANINGFUL, TRANSPARENT CUTS MEAN?
        </h2>
        <div class="demands-grid">
          <div class="demand-card img-right">
            <h3>
              Release the Council's detailed NYPD cuts proposal
            </h3>
            <p>
              We demand that the Speaker release the Council’s proposed cuts immediately to allow for public review
              and
              complete transparency.
            </p>
            <img src="assets/demand1.png" />
          </div>
          <div class="demand-card img-center">
            <h3>
              Cut NYPD budget and officer headcount by half
            </h3>
            <p>
              We demand the police (operating) budget be cut by half ($3B) and the headcount of uniformed officers
              be
              cut
              by half to truly address police violence.
            </p>
            <img src="assets/demand2.png" />
          </div>
          <div class="demand-card img-right">
            <h3>
              Cops out of schools and issues that could be addressed by social services and community workers.
            </h3>
            <p>
              We demand an end to police response to issues that could be transitioned to community workers, and
              demand
              all officers and NYPD employees be removed from schools, mental health response and co-response teams,
              homeless outreach, neighborhood disputes, transit, and subways.
            </p>
            <img src="assets/demand3.png" />
          </div>
          <div class="demand-card img-center">
            <h3>
              Redirect funds to Black communities.
            </h3>
            <p>
              We demand that the City redirect the billions that go to police departments toward providing health care,
              housing, social services, schools, childcare and eldercare, and programs that benefit Black people, that
              would create less need for police in the first place.
            </p>
            <img src="assets/demand4.png" style="max-width:400px" />
          </div>
          <div class="demand-card img-right">
            <h3>Fully transparent NYPD budget.</h3>
            <p>
              We demand a fully transparent NYPD budget that is accessible to the public. It is unacceptable that
              there
              are large swaths of the NYPD budget unavailable to anyone.
            </p>
            <img src="assets/demand5.png" />
          </div>
          <div class="demand-card img-center">
            <h3>
              No rollbacks.
            </h3>
            <p>
              We demand that these cuts remain in place for future fiscal years, and not just as a ‘austerity
              budget’
              measure. These cuts to the NYPD are in the interest of community safety and the well being of Black
              people,
              not just savings for the City during this fiscal crisis.
            </p>
            <img src="assets/demand6.png" style="height:130px" />
          </div>
        </div>
      </div>
      <div class="callout">
        <h2>DO THE WORK WITH US</h2>
      </div>
      <div class="cta-header">
        <h3>TAKE ACTION</h3>
      </div>
      <div class="card-cta-container">
        <a href="/contact-reps">
          <div class="card-cta">
            <strong>Call Your Rep</strong>
            <br />
            Email and call your council member calling for #DefundNYPD today!
          </div>
        </a>
        <a href="/peoples-budget">
          <div class="card-cta">
            <strong>People's Budget</strong>
            <br />
            Where should we cut the NYPD?
            How should we invest at least $1B
            in our communities?
          </div>
        </a>
        <a href="/swap">
          <div class="card-cta">
            <strong>Spread the Word</strong>
            <br />
            Share the call to #DefundNYPD on social media!
          </div>
        </a>
        <a href="http://eepurl.com/g7qPnn" target="_blank">
          <div class="card-cta">
            <strong>Subscribe </strong>
            <br />
            Join our email list to stay up to date on resources, actions, and updates!
          </div>
        </a>
      </div>
      <div class="cta-header">
        <h3>LEARN MORE</h3>
      </div>
      <div class="card-cta-container">
        <a href="/resources#budget-explainer">
          <div class="card-learn-more">
            <strong>How the City budget works</strong>
          </div>
        </a>
        <a href="/resources#abolish-police">
          <div class="card-learn-more">
            <strong>Why we must abolish the police</strong>
          </div>
        </a>
        <a href="/resources#organizations">
          <div class="card-learn-more">
            <strong>Organizations that are doing the work</strong>
          </div>
        </a>
        <a href="https://defund-nypd-reps.glitch.me/" target="_blank">
          <div class="card-learn-more">
            <strong>Your Council Member's position</strong>
          </div>
        </a>
      </div>
    </div>
  </div>
  <footer>
    <div class="social-footer">
      <p>Abolish the NYPD</p>
      <div>
        <a href="https://www.instagram.com/AbolishtheNYPD/" target="_blank">
          <i class="fa fa-instagram fa-2x"></i>
        </a>
        <a href="https://twitter.com/AbolishtheNYPD" target="_blank">
          <i class="fa fa-twitter fa-2x"></i>
        </a>
        <a href="http://eepurl.com/g7qPnn" target="_blank">
          <i class="fa fa-envelope fa-2x"></i>
        </a>
        <a href="https://github.com/vickiniu/abolish-nypd" target="_blank">
          <i class="fa fa-github fa-2x"></i>
        </a>
      </div>
    </div>
  </footer>

  <!-- Your web-app is https, so your scripts need to be too -->
  <script src="https://code.jquery.com/jquery-2.2.1.min.js"
    integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=" crossorigin="anonymous"></script>
  <script src="/client.js"></script>
</body>

</html>