<!DOCTYPE html>
<html>

<head>
  <title>Abolish the NYPD</title>
  <meta name="description" content="Abolish the NYPD" />
  <link id="favicon" rel="icon"
    href="https://cdn.glitch.com/daaac5d2-50fd-4844-9957-d960b12fb5b6%2Ffavicon.ico?v=1592072250727"
    type="image/x-icon" />
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/style.css" />
  <link href="//fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700" rel="stylesheet"
    type="text/css" />
  <link
    href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;0,800;1,400;1,600;1,800&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
</head>

<body onload="peoplesBudgetOnLoad()">
  <div class="header">
    <a href="/" class="logo"><img src="assets/fist.png"></a>
    <div class="header-right">
      <a href="/">Home</a>
      <a href="/contact-reps">Call Your Rep</a>
      <a class="active" href="/peoples-budget">People's Budget</a>
      <a href="/spread-the-word">Spread the Word</a>
      <a href="/resources">Learn More</a>
    </div>
  </div>
  <div class="homepage">
    <header>
      <a href="/" style="text-decoration: none">
        <h1>
          PEOPLE'S BUDGET OF NYC
        </h1>
      </a>
      <h2>
        DEFUND THE NYPD
      </h2>
      ⚡️ Powered by the people ⚡️
    </header>

    <div class="container">
      <div class="callout highlight">
        <h2>
          THE NYPD's BUDGET'S WAY TOO HIGH — WE NEED TO CUT IT!
        </h2>
        <p>
          The People's Budget is a collaborative effort to source meaningful cuts and reinvestments that reduce policing
          and meet our community needs. We're asking you to weigh in — all of the ideas here have been contributed by
          fellow community members, and we've love for you to add your own.
        </p>
        <p>
          Feel free to read through and upvote cuts or re-investments that you support, and add your own suggestions.
          Keep in mind, this is open source, so we want data and justifications, but we reject the idea of "expertise".
          The people know best what we need!
        </p>
      </div>
      <div class="callout">
        <h2>
          THE PEOPLE'S CUTS
        </h2>
        <p>
          Where should we cut the NYPD budget? What programs do you think need to go? How can we most effectively defund
          the NYPD? Here, we're looking for your specific suggestions and research!
        </p>
      </div>
      <div class="budget-scroll-container">
        <div class="budget-container" id="cutit-container">
          Loading...
        </div>
        <a onclick="showCutitModal()" class="float">
          <i class="fa fa-plus float-icon"></i>
        </a>
      </div>
      <div id="cutit-form-modal" class="modal">
        <div id="cutit-form" class="modal-content">
          <button style="float:right; margin-bottom:10px;" onclick="closeCutitModal()">
            Close
          </button>
          <iframe id="cutit-form-iframe" class="airtable-embed airtable-dynamic-height"
            src="https://airtable.com/embed/shrNhlxrqvXcCvJ4o?backgroundColor=purple" frameborder="0" onmousewheel=""
            width="100%" height="1085" style="background: transparent; border: 1px solid #ccc;"></iframe>
        </div>
      </div>
      <div class="callout">
        <h2>
          THE PEOPLE'S REINVESTMENTS
          <p>
            How should we invest at least a billion dollars in our communities? Housing? Healthcare? Youth Services?
            What
            programs and services do we need?
          </p>
      </div>
      <div class="budget-scroll-container">
        <div class="budget-container" id="reinvest-container">
          Loading...
        </div>
        <a onclick="showReinvestModal()" class="float">
          <i class="fa fa-plus float-icon"></i>
        </a>
      </div>
      <div id="reinvest-form-modal" class="modal">
        <div id="reinvest-form" class="modal-content">
          <button style="float:right; margin-bottom:10px;" onclick="closeReinvestModal()">
            Close
          </button>
          <iframe id="reinvest-form-iframe" class="airtable-embed airtable-dynamic-height"
            src="https://airtable.com/embed/shrpWjt2QNm9kgebH?backgroundColor=purple" frameborder="0" onmousewheel=""
            width="100%" height="1092" style="background: transparent; border: 1px solid #ccc;"></iframe>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <div class="social-footer">
      <p>Abolish the NYPD</p>
      <div>
        <a href="https://www.instagram.com/AbolishtheNYPD/">
          <i class="fa fa-instagram fa-2x"></i>
        </a>
        <a href="https://twitter.com/AbolishtheNYPD">
          <i class="fa fa-twitter fa-2x"></i>
        </a>
        <a href="http://eepurl.com/g7qPnn">
          <i class="fa fa-envelope fa-2x"></i>
        </a>
      </div>
    </div>
  </footer>

  <!-- Your web-app is https, so your scripts need to be too -->
  <script src="https://code.jquery.com/jquery-2.2.1.min.js"
    integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=" crossorigin="anonymous"></script>
  <script src="/client.js"></script>
  <script src="https://static.airtable.com/js/embed/embed_snippet_v1.js"></script>
</body>

</html>