<!DOCTYPE html>
<html>

<head>
    <title>Abolish the NYPD</title>
    <meta name="description" content="Abolish the NYPD" />
    <link id="favicon" rel="icon"
        href="https://cdn.glitch.com/daaac5d2-50fd-4844-9957-d960b12fb5b6%2Ffavicon.ico?v=1592072250727"
        type="image/x-icon" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/style.css" />
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700" rel="stylesheet"
        type="text/css" />
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="header">
        <a href="/" class="logo">Abolish the NYPD</a>
        <div class="header-right">
            <a href="/">🏡 Home</a>
            <a href="/contact-reps">📣 Call Your Rep</a>
            <a href="/peoples-budget">💰 People's Budget</a>
            <a href="/spread-the-word">🗣 Spread the Word</a>
            <a class="active" href="/resources">📚 Learn More</a>
        </div>
    </div>
    <div class="homepage">
        <header>
            <a href="/" style="text-decoration: none">
                <h1>
                    Learn More
                </h1>
            </a>
        </header>
        <div class="container">
            <div class="callout">
                <blockquote>
                    <p class="quote">
                        There is not a single era in United States history in which the police were not a force of
                        violence against black people. Policing in the South emerged from the slave patrols in the 1700
                        and 1800s that caught and returned runaway slaves. In the North, the first municipal police
                        departments in the mid-1800s helped quash labor strikes and riots against the rich. Everywhere,
                        they have suppressed marginalized populations to protect the status quo.
                    </p>
                    <p class="quote-source">
                        — Mariame Kaba, <a
                            href="https://www.nytimes.com/2020/06/12/opinion/sunday/floyd-abolish-defund-police.html">New
                            York Times</a>
                    </p>
                </blockquote>
            </div>
            <div class="callout">
                <h2>
                    What is #DefundNYPD? What is abolition?
                </h2>
                <p>
                    What do we mean by defund the police? It’s a concrete demand to cut police funding in a way that
                    meaningfully reduces their presence in our lives.
                </p>
                <p>
                    But it's not just to get rid of that funding, it’s a demand to re-invest it in our communities., so
                    that
                    we can be safe and thrive.
                </p>
                <p>
                    <strong>
                        We know our communities are safe and can thrive when we have housing, healthcare, living wages,
                        high
                        quality education and public transit, and the resources and community-based services we need.
                    </strong>
                    That’s what New York City should be spending its money on, and that’s what we’re demanding.
                </p>
                <p>
                    Defunding the NYPD is just one step along the way to radically revisioning community and public
                    safety.
                    It’s the work of abolition. Envisioning a world in which instead of cops in schools, our young
                    people
                    have all of the resources and support they need, and their teachers do too. Envisioning a world in
                    which
                    instead of ticketing homeless people, every New Yorker has a safe, affordable place to sleep.
                    Envisioning a world in which no Black people are ever killed by the cops, a world where no one is
                    ever
                    locked up or separated from their families, and a world with justice and freedom to thrive.
                </p>
                <p>
                    To learn more about defunding the police and abolition, check out these resources:
                </p>
                <ul>
                    <li>
                        <a href="https://www.8toabolition.com/">8 to Abolition</a>
                    </li>
                    <li>
                        <a
                            href="https://docs.google.com/document/d/182cay4IFu4S3wJuTChWA63NAKXqmJIDgkSxuNDZZTZo/mobilebasic">K-Agbebiyi's
                            Guide to Abolition</a>
                    </li>
                    <li>
                        <a href="https://www.survivedandpunishedny.org/">Survived and Punished</a>
                    </li>
                    <li>
                        <a href="http://www.usprisonculture.com/">Prison Culture</a>
                    </li>
                    <li>
                        <a href="https://abolitionistfutures.com/">Abolitionist Futures</a>
                    </li>
                </ul>
            </div>
            <div class="callout">
                <h2>
                    How does the NYC budget process work?
                </h2>
                <p>
                    Creation of the NYC budget is an ongoing process, but each year’s budget has to effectively be
                    agreed upon by July 1. This is a brief guide to what that process looks like, and how you insert
                    yourself.
                </p>
                <p>
                    Keep in mind that the budget for every year is named by its end year, so even though right now we’re
                    focusing on a budget that will start on July 1, 2020, this will be the Fiscal Year (FY) 2021 budget,
                    because it runs through June 30, 2021. So when you refer to budgets, remember the date they’re named
                    with—e.g., FY21—covers July 2020 through June 2021.
                </p>
                <h3>
                    Key Points
                </h3>
                <p>
                    The City’s budget goes across many documents, and is very hard to piece together. The City’s budget
                    is separated into several parts:
                </p>
                <ul>
                    <li>
                        Expense: basic costs of City programs, e.g., staff, materials, administration, etc.
                    </li>
                    <li>
                        Capital: spending on buildings, heavy equipment—basically things that are built, or installed
                        somewhere. This is paid for with bonds, so the costs of these are paid for over many years, as
                        payments to bondholders.
                    </li>
                    <li>
                        Contract: these are services contracted out to various organizations to carry out City
                        functions.
                    </li>
                </ul>
                <p>
                    The Mayor has the power to baseline, or commit funding for several fiscal years. Council has a pool
                    of money, but its money mostly goes for “one shot” purposes, or for one fiscal year. Council can
                    effectively “trade” money to the Mayor to get baselined.
                </p>
                <p>
                    A lot of the budget is a negotiation between the Mayor and City Council. The chief entity in Council
                    that negotiates with the Mayor is called the Budget Negotiating Team, or BNT. Each member of Council
                    also can give away one year grants to community organizations (discretionary member items), or
                    support slightly bigger-ticket programs (called Initiatives).

                </p>
                <p>
                    BNT negotiations are pretty secretive. Some Council Members will tell you details about them; others
                    are pretty close-lipped. Just because a Council Member is close-lipped about what’s going on in BNT
                    doesn’t mean they’re being shady. They might just need to keep things quiet because they don’t want
                    to overpromise, or, in the case of the Council Finance Chair, keep sort of a public stance of
                    neutrality.
                </p>
                <p>
                    Though most of the activity for budget creation takes place from January through June, the budget
                    process is truly year-round. Never stop fighting. Money can be added or cut at just about any time.
                    Even after this budget is adopted, we have to immediately plan for deeper abolition action in the
                    next budget cycle.
                </p>
                <h3>Budget Cycle Events</h3>
                <ul>
                    <li>
                        July 1: this is the start of the City fiscal year. The City is supposed to have what is known as
                        an “Adopted Budget” passed by City Council by this point, and that budget consists of things the
                        Mayor and Council agreed to in June.
                    </li>
                    <li>
                        November: the City puts out a plan updating its budget, and this sometimes includes new spending
                        items or cuts
                    </li>
                    <li>
                        January: the Mayor releases what is known alternately as the Preliminary Budget or the January
                        Plan. This is the formal start of budget season.
                    </li>
                    <li>
                        Mid-February: City Council Discretionary Funding applications are due: whether you want
                        individual Council Member dollars or to have your nonprofit be part of an initiative, you need
                        to file for discretionary funds.
                    </li>
                    <li>
                        March: Council holds its Preliminary Budget hearings. Most City agencies testify, Council
                        questions them, and members of the public testify.
                    </li>
                    <li>
                        March-April: Participatory budgeting, where Council Members give community members a small
                        amount of capital funding to allocate.
                    </li>
                    <li>
                        Early April: Council releases its Response to the Preliminary Budget, which is basically an
                        outline of Council’s goals for the rest of the budget cycle.
                    </li>
                    <li>
                        April 26: The Mayor must release his Executive Budget.
                    </li>
                    <li>
                        May: Council holds Executive Budget hearings. Most government agencies testify with Council
                        questioning. The public gets one final hearing, on all subjects, at the end.
                    </li>
                    <li>
                        June: Council and the Mayor are supposed to agree to the Executive Budget with changes--the
                        “Adopted Budget”--with Council’s changes reflected in its “Schedule C” document. The agreement
                        technically is supposed to happen by June 5, but it frequently lasts longer. The basic agreement
                        on the major budget issues is known as “The Handshake,” which is generally a series of speeches
                        about the budget from the Mayor, Speaker, and other officials in City Hall. Schedule C is
                        released roughly 24-72 hours after the handshake. Changes to the budget can still happen after
                        Schedule C is released and Council votes on the Adopted Budget.
                    </li>
                </ul>
                <h3>
                    Other NYC Budget Resources
                </h3>
                <p>
                    Though the City budget is hard to navigate, these documents and sources can be helpful for finding
                    information:
                </p>
                <ul>
                    <li>
                        <a href="https://www1.nyc.gov/assets/omb/downloads/pdf/bfa4-20.pdf">Budget Function
                            Analysis</a>: This is released by the Office of Management and
                        Budget. It outlines the basic expense program areas of city agencies. E.g., if you want to find
                        the cost of the NYPD “school safety” program, it’s in here.
                    </li>
                    <ul>
                        <li>
                            But not everything is in here. There are programs whose budgets are super-hard to
                            understand, like Department of Education, and the NYPD.
                        </li>
                    </ul>
                    <li>
                        <a
                            href="https://council.nyc.gov/budget/wp-content/uploads/sites/54/2019/12/Fiscal-2020-Schedule-C-Final-Merge.pdf">Schedule
                            C</a>: This is the document that outlines what City Council is spending its money on, and
                        what it negotiated with the Mayor. There are Initiatives (basically programs that Council
                        created), and member items (nonprofit programming that Council Members find important to fund).
                        Most of the things in the Schedule C are called “one shot,” because Council funds things for one
                        year.
                    </li>
                    <li>
                        <a href="https://www1.nyc.gov/assets/omb/downloads/pdf/exec20-fprecon.pdf">Financial Plan
                            Reconciliation</a>: This is the basic summary of the Mayor’s cuts and additions to the
                        budget.
                    </li>
                    <li>
                        <a href="https://data.cityofnewyork.us/">NYC Open Data</a>: Start by searching for “budget,” and
                        then you can search several aspects of the budget, most prominently Expense and Capital. It
                        takes some getting used to, but you can spit out custom made spreadsheets.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
        integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=" crossorigin="anonymous"></script>
    <script src="/client.js"></script>
</body>