<!DOCTYPE html>
<html>

<head>
    <title>Abolish the NYPD</title>
    <meta name="description" content="Abolish the NYPD" />
    <link id="favicon" rel="icon"
        href="https://cdn.glitch.com/daaac5d2-50fd-4844-9957-d960b12fb5b6%2Ffavicon.ico?v=1592072250727"
        type="image/x-icon" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/style.css" />
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700" rel="stylesheet"
        type="text/css" />
    <link
        href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;0,800;1,400;1,600;1,800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="header">
        <a href="/" class="logo"><img src="assets/fist.png"></a>
        <div class="header-right">
            <a href="/">🏡 Home</a>
            <a href="/contact-reps">📣 Call Your Rep</a>
            <a href="/peoples-budget">💰 People's Budget</a>
            <a class="active" href="/spread-the-word">🗣 Spread the Word</a>
            <a href="/resources">📚 Learn More</a>
        </div>
    </div>
    <div class="homepage">
        <header>
            <h1>
                Spread the Word
            </h1>
            <h2>
                Post & share #DefundNYPD on social media
            </h2>
        </header>
        <div class="container">
            <p>
                The #DefundNYPD social media toolkit is coming soon — and we'd love your contributions! Until then,
                check out some great content on defunding and abolition from the community.
            </p>
            <div class="tweets-grid">
                <div class="tweets-col">
                    <blockquote class="twitter-tweet">
                        <p lang="und" dir="ltr"><a href="https://t.co/vU3DOb0YOL">pic.twitter.com/vU3DOb0YOL</a></p>
                        &mdash;
                        Ruth
                        Wilson Gilmore Girls (@rwgilmoregirls) <a
                            href="https://twitter.com/rwgilmoregirls/status/1272944343003926532?ref_src=twsrc%5Etfw">June
                            16,
                            2020</a>
                    </blockquote>
                </div>
                <div class="tweets-col">
                    <blockquote class="twitter-tweet">
                        <p lang="en" dir="ltr">When we say <a
                                href="https://twitter.com/hashtag/DefundPolice?src=hash&amp;ref_src=twsrc%5Etfw">#DefundPolice</a>,
                            we mean reducing the size, budgets, and power of all institutions that surveil, police,
                            punish,
                            incarcerate, and kill Black people to zero. And yes, there&#39;s a toolkit for that: <a
                                href="https://t.co/Q6UL6VGGU7">https://t.co/Q6UL6VGGU7</a> <a
                                href="https://t.co/giIXvxwkA5">pic.twitter.com/giIXvxwkA5</a></p>&mdash; Interrupting
                        Criminalization (@interruptcrim) <a
                            href="https://twitter.com/interruptcrim/status/1272675743017758720?ref_src=twsrc%5Etfw">June
                            15,
                            2020</a>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="social-footer">
            <p>Abolish the NYPD</p>
            <div>
                <a href="https://www.instagram.com/AbolishtheNYPD/">
                    <i class="fa fa-instagram fa-2x"></i>
                </a>
                <a href="https://twitter.com/AbolishtheNYPD">
                    <i class="fa fa-twitter fa-2x"></i>
                </a>
                <a href="http://eepurl.com/g7qPnn">
                    <i class="fa fa-envelope fa-2x"></i>
                </a>
            </div>
        </div>
    </footer>
    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
        integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=" crossorigin="anonymous"></script>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script src="/client.js"></script>
</body>