/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
  font-family: "Montserrat", "Arial", san-serif;
}

h1,
h2,
h3 {
  font-family: "Arapey", "Times New Roman", serif;
  letter-spacing: 2px;
}

body {
  line-height: 1.5;
  background-color: #EFEFEF;
  color: #2d3436;
  margin: 0px;
}

h1 {
  font-weight: bold;
  font-size: 48px;
  color: #2d3436;
  margin-bottom: 0;
}

header {
  margin-bottom: 2em;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid #C09E1C;
}

footer>a {
  color: #BBBBBB;
}

main {
  display: flex;
  flex-wrap: wrap;
}

.header {
  background-color: #C6C3B5;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

/* Style the header links */
.header a {
  float: left;
  color: #2d3436;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  margin-right: 5px;
}

.header a:hover {
  color: #efefef;
}

.header a.logo {
  padding: 0;
  margin: 0;
}

.logo img {
  height: 100px;
  width: 100px;
}

/* Style the active/current link*/
.header a.active {
  color: #2d3436;
  border: 0.25px solid #C09E1C;
}

.header a.active:hover {
  color: #efefef;
}

/* Float the link section to the right */
.header-right {
  padding-top: 25px;
  float: right;
}

/* Add media queries for responsiveness - when the screen is 
600px wide or less, hide the header */
@media screen and (max-width: 800px) {
  .header {
    visibility: hidden;
  }

  .homepage {
    margin-top: 0px;
  }

  blockquote {
    margin: 0px;
  }
}

@media (max-width: 1000px) {
  .logo {
    display: none;
  }
}

.gallery-card {
  min-height: 160px;
  width: 200px;

  border: 1px solid #777;
  border-radius: 5px;
  box-shadow: 2px 2px 0 2px rgba(0, 0, 0, 0.2);
  padding: 0.5em;
  margin-left: 1em;
  margin-bottom: 1em;
}

.gallery-card img {
  border-radius: 5px;
  margin-bottom: 0.5em;
  width: 100%;
}

.homepage {
  text-align: center;
  margin-top: 150px;
}

/* Mobile */
@media (max-width: 600px) {
  .container {
    margin: auto;
  }
}

/* Desktop */
@media (min-width: 600px) {
  .container {
    margin: auto;
    width: 80%;
  }
}

.container {
  text-align: left;
}

.callout {
  padding: 10px 50px 10px 50px;
  margin-bottom: 10px;
}

.callout.highlight {
  background-color: #C6C3B5;
  padding-bottom: 25px;
}

.callout p {
  font-size: 20px;
}

.callout li {
  font-size: 20px;
}

.callout a,
.callout a:visited {
  color: #7D6406;
}

.callout h2 {
  font-size: 30px;
}

.card-cta-container {
  padding: 10px 50px 10px 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.card-cta {
  margin: 10px;
  padding: 30px;
  text-align: center;
  width: 250px;
  height: 200px;
  border: 0.25px solid #C09E1C;
  align-items: center;
}

.card-learn-more {
  margin: 10px;
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  width: 250px;
  height: 200px;
  border: 0.25px solid #C09E1C;
}

.card-cta-container a {
  text-decoration: none;
  color: black;
}

.record-card {
  min-height: 160px;

  border: 1px solid #777;
  border-radius: 5px;
  box-shadow: 2px 2px 0 2px rgba(0, 0, 0, 0.2);
  padding: 0.5em;
  margin-left: 1em;
  margin-bottom: 1em;
  background-color: white;

  width: 350px;
  min-width: 350px;
  max-width: 350px;

  overflow-wrap: break-word;
}

.record-card .record-title {
  font-weight: bold;
  color: #2d3436;
}

.record-card h3 {
  margin-bottom: 5px;
  color: #7D6406;
}

.record-card a,
.record-card a:visited {
  color: #7D6406;
}

.record-amount {
  font-style: italic;
  color: grey;
  margin-top: 0px;
}

.record-desc {
  margin: 0px;
}

.record-card p {
  margin-bottom: 3px;
  color: #636e72;
}

.budget-scroll-container {
  background-color: #C6C3B5;
  padding: 20px 20px 20px 20px;
  margin-bottom: 50px;
  border: 1px solid #dfe6e9;
  position: relative;
  z-index: 0;
}

.budget-container {
  overflow-y: auto;
  display: flex;
}

form {
  margin-bottom: 25px;
  padding: 15px;
  background-color: #7D6406;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 3px
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid #d3d3d3;
  border-radius: 3px;
  font-size: 16px
}

button {
  font-size: 16px;
  background-color: #7D6406;
  color: white;
  cursor: pointer;
  border: none;
  text-align: center;
  padding: 8px 15px 8px 15px;
  outline: none;
  text-decoration: none;
  font-size: 16px;
  line-height: 25px;
  margin-right: 5px;
}

.input {
  margin-top: 5px;
}

.generate {
  margin-top: 5px;
}

.form {
  padding: 10px 50px 10px 50px;
}

@media (max-width: 600px) {
  .form {
    padding: 0px;
  }
}

.input-container {
  width: 50%;
}

@media (max-width: 600px) {
  .input-container {
    width: 100%;
  }
}

.preview {
  background-color: white;
  padding: 10px 50px 10px 50px;
  border: 1px solid grey;
  border-radius: 3px;
  box-shadow: 2px 2px #7D6406;
}

@media (max-width: 600px) {
  .preview {
    padding: 5px;
  }
}

.send-mail-container {
  display: flex;
}

.send-mail {
  margin-left: 5px;
  margin-right: 5px;
  max-width: 200px;
  text-align: center;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.float {
  position: absolute;
  bottom: 0;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #7D6406;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  align-items: center;
  box-shadow: 2px 2px 3px #999;
}

a:hover {
  cursor: pointer;
}

.float-icon {
  margin-top: 22px;
}

.quote {
  border-left: 0.5px solid #2d3436;
  padding-left: 20px;
  font-size: 20px;
  line-height: 35px;
}

.cta-header {
  text-align: center;
}

/* Hack to get anchors to display under our fixed header */
.anchor a {
  position: absolute;
  left: 0px;
  top: -120px;
}

.anchor {
  position: relative;
}

.social-footer {
  margin: auto;
  width: 300px;
  align-items: center;
  text-align: center;
  padding-bottom: 20px;
}

.social-footer a {
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: none;
  color: #7D6406;
  margin: auto;
}

.tweets-grid {
  display: flex;
  margin-top: 25px;
  margin-bottom: 25px;
}

.tweets-col {
  flex: 1;
}

.abolish-heading img {
  width: 200px;
}

.abolish-heading h1 {
  margin-top: 0px;
}

table.demands {
  table-layout: fixed;
  width: 100%;
}

.demands-grid {
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}

.demand-card {
  padding-left: 40px;
  padding-right: 40px;
  font-weight: normal;
  vertical-align: top;
}

@media (min-width: 900px) {
  .demands-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .demand-card {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.demand-card h3 {
  font-size: 24px;
}

.demand-card img {
  max-width: 200px;
}

.img-right img {
  float: right;
}

.img-center {
  text-align: center;
}

.img-center h3,
.img-center p {
  text-align: left;
}

#phone-script-drawer {
  display: none;
}

.phone-script {
  background-color: white;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 25px;
}

.tweet-box {
  background: white;
  padding: 25px;
  font-size: 16px;
  margin: 10px;

  overflow: hidden;
  border: 1px solid #e1e8ed;
  border-radius: 5px;
  max-width: 550px;
}

.tweet-box img {
  max-width: 500px;
}

.twitter-share-button {
  position: relative;
  height: 20px;
  box-sizing: border-box;
  background-color: #1b95e0;
  color: #fff;
  border-radius: 3px;
  font-weight: 500;
  cursor: pointer;
}